# Required environment variables for the bot. Create a .env file with these variables and their values.
DISCORD_TOKEN=
OWNER_USER_ID=
#ok, so, putting your user id there, you unlock owner-only commands, but you can also leave it blank if you want.
#there are two owner-only commands, tl and toe, tl, toggle link, toggles the download link command, and toe, which is lwk useless, everything else do u!help.
#im not responsible for what happens after you run the tl command.